<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifsaid.shark.mapper.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.ifsaid.shark.entity.OrderItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="sub_total" property="subTotal" jdbcType="DECIMAL" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_classify_name" property="goodsClassifyName" jdbcType="VARCHAR" />
    <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_count" property="goodsCount" jdbcType="INTEGER" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, sub_total, goods_id, goods_name, goods_classify_name, goods_description,
    goods_img, goods_count, goods_price, deleted, creator, create_time, modifier, last_update_time
  </sql>
  <select id="getOrderItemByNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_order_item
    where order_no = #{orderNo}
  </select>
  <insert id="saveOrderItem" parameterType="com.ifsaid.shark.entity.OrderItem">
    insert into tb_order_item (order_no,sub_total,goods_id,goods_name,goods_classify_name,goods_description,goods_img,goods_count,goods_price,deleted,creator,create_time,modifier,last_update_time)
    values
    (#{orderNo},#{subTotal},#{goodsId},#{goodsName},#{goodsClassifyName},#{goodsDescription},#{goodsImg},#{goodsCount},#{goodsPrice},#{deleted},#{creator},#{createTime},#{modifier},#{lastUpdateTime})
  </insert>
</mapper>
