<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifsaid.shark.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ifsaid.shark.entity.Order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="address_id" property="addressId" jdbcType="BIGINT" />
    <result column="concat_name" property="concatName" jdbcType="VARCHAR" />
    <result column="concat" property="concat" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="total_quantity" property="totalQuantity" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, user_id, address_id, concat_name, concat, total_price, total_quantity,
    status, deleted, creator, create_time, modifier, last_update_time
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order
    where deleted= 0
  </select>
  <select id="selectByKeywords" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_order
    <if test="keywords != null">
      WHERE CONCAT(order_no) LIKE CONCAT('%',#{keywords},'%')
    </if>
    and deleted = 0
  </select>

  <select id="getOrderCount" resultType="java.lang.Long">
    select count(*) from tb_order where deleted = 0
  </select>

  <select id="getOrderPrice" resultType="java.math.BigDecimal">
    select sum(total_price) from tb_order where deleted = 0
  </select>

  <select id="getOrderCountByDate" resultType="java.lang.Long">
    select count(*) from tb_order create_time between #{begin} and #{end} where deleted = 0
  </select>

  <select id="getOrderPriceByDate" resultType="java.math.BigDecimal">
    select sum(total_price) from tb_order create_time between #{begin} and #{end} where deleted = 0
  </select>

  <select id="getOrderByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from tb_order where deleted = 0 and status = #{status} and user_id = #{userId}
  </select>
</mapper>
